<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="footer-links">
        <h6 class="footer-heading">My Account</h6>
        <ul class="footer-links">
          <li><a href="#">Sign In/Register</a></li>
          <li><a href="#">Order History</a></li>
          <li><a href="#">Wishlist</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h6 class="footer-heading">Shop</h6>
        <ul class="footer-links">
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Best Sellers</a></li>
          <li><a href="#">Deals of the Day</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Exclusive Offers</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h6 class="footer-heading">About Us</h6>
        <ul class="footer-links">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press & Media</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h6 class="footer-heading">Customer Service</h6>
        <ul class="footer-links">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Order Tracking</a></li>
          <li><a href="#">Returns & Exchanges</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Size Guide</a></li>
        </ul>
      </div>
      <!-- <div class="footer-links">
        <h6>We Deliver With</h6>
        <ul class="footer-links">
          <li><a href="#">DHL</a></li>
          <li><a href="#">FedEx</a></li>
          <li><a href="#">Indian Post</a></li>
          <li><a href="#">Dhelivery</a></li>
        </ul>
      </div> -->
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2023 All Rights Reserved by
          <a href="#">eKart</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
