<!-- Footer -->
<footer class="text-center text-white" style="background-color: #181d19">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <!-- <mdb-form-control class="form-white mb-4"> </mdb-form-control> -->
            <input
              type="email"
              id="emailInput"
              class="form-control"
              placeholder="Email address"
              #emailInput
            />
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button  -->
            <!-- <button
              type="submit"
              class="btn btn-outline-light mb-1"
              (click)="subscribeClicked(emailInput)"
            >
              Subscribe
            </button> -->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>

  <!-- Copyright -->
  <div class="p-3" style="background-color: #131613">
    <a
      class="text-white me-4"
      routerLink="/privacyPolicy"
      routerLinkActive="router-link-active"
      >Privacy Policy</a
    >
    <a
      class="text-white me-4"
      routerLink="/termsAndConditions"
      routerLinkActive="router-link-active"
      >Terms of Service</a
    >
    <a
      class="text-white me-4"
      routerLink="/contact"
      routerLinkActive="router-link-active"
      >Contact Information</a
    >

    © 2024 Copyright:
    <a class="text-white" routerLink="/home">CleanlyCar.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
