<div class="filter-container">
  <div class="filter-heading">Filters :</div>
  <span class="radio-btn">
    <input
      type="radio"
      name="filter_stock"
      value="all"
      [(ngModel)]="selectedRadio"
      (change)="onSelectedRadioButtonChanged()"
    />
    <!-- (change)="filterByGender($event)" -->
    <span class="radio-btn">All</span>
    <!-- {{ "All (" + all + ")" }} -->
    <input
      type="radio"
      name="filter_stock"
      value="true"
      [(ngModel)]="selectedRadio"
      (change)="onSelectedRadioButtonChanged()"
    />
    <span class="radio-btn">In-Stock</span>
    <!-- {{ "In-Stock (" + inStock + ")" }} -->
    <input
      type="radio"
      name="filter_stock"
      value="false"
      [(ngModel)]="selectedRadio"
      (change)="onSelectedRadioButtonChanged()"
    />
    <span class="radio-btn">Out-Of-Stock</span>
    <!-- {{ "Out-Of-Stock (" + outOfStock + ")" }} -->
  </span>
</div>
