.ekart-menu {
  padding-top: 1vh;
  padding: 1vh;
  color: #40525e;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 70%;
  text-align: center;
}

.ekart-menu > a {
  padding: 10px;
}
